html {
  height: 100%;
  min-height: 100%;
}

@media (max-width: 576px) {
  html .popover {
    display: none !important;
  }
  html .tooltip {
    display: none !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #f1f1f1;
}

footer {
  color: #ffffff;
  padding: 0px;
  margin-top: auto;
  background-color: #D0011B;
}

#navbar {
  background-color: #D0011B;
}

#navbar a {
  cursor: pointer;
}

@media (min-width: 576px) {
  #navbarcollapse {
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  #navbarcollapse {
    flex-direction: row;
    text-align: right;
  }
}

@media (max-width: 576px) {
  #cards-row .card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

#content-jumbotron {
  background-image: url("/Images/designerimg.png");
  background-size: cover;
  color: #FFFF00;
  text-shadow: 2px 2px 3px #111111;
  cursor: default;
}

#content-jumbotron .lead {
  text-shadow: 1px 1px 1px #111111;
}

#content-jumbotron .btn {
  background-color: #FFFF00;
  color: #111111;
  box-shadow: 1px 1px 10px #111111;
  opacity: 0.9;
  margin-left: auto;
}

#footerlogo {
  padding: 1em;
  border-bottom: solid 1px #ffffff;
}

.popover-login {
  width: 330px;
  height: 470px;
  background: #fcfcfc;
  border-radius: 10px;
}

.popover-login h3 {
  color: #111111;
  margin-top: 55px;
  margin-bottom: 50px;
}

.popover-login input {
  border: hidden;
  border-bottom: solid 1.5px #c4c4c4;
  border-radius: 0px;
  box-shadow: none;
}

.popover-login button {
  background-color: #D0011B;
  color: #ffffff;
  font-size: 0.9em;
  padding: 10px;
  border-radius: 2px;
  margin-top: 30px;
  font-weight: bold;
}

.popover-login small {
  margin-top: 50px;
}

.popover-login small a {
  color: blue;
}
