html {
  height: 100%;
  min-height: 100%;
}

@media (max-width: 576px) {
  html .popover {
    display: none !important;
  }
  html .tooltip {
    display: none !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #f1f1f1;
}

footer {
  color: #ffffff;
  padding: 0px;
  margin-top: auto;
  background-color: #D0011B;
}

#navbar {
  background-color: #D0011B;
}

#navbar a {
  cursor: pointer;
}

@media (min-width: 576px) {
  #navbarcollapse {
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  #navbarcollapse {
    flex-direction: row;
    text-align: right;
  }
}

@media (max-width: 576px) {
  #cards-row .card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

#content-jumbotron {
  background-image: url("/Images/designerimg.png");
  background-size: cover;
  color: #FFFF00;
  text-shadow: 2px 2px 2px #111111;
}

#footerlogo {
  padding: 1em;
  border-bottom: solid 1px #ffffff;
}
