@import url("/scss/style_sass.scss");

$main-color: #D0011B;
$second-color: #FF9F00;
$third-color: #440000;
$link-color: rgb(79, 79, 255);
$mobile-size: 576px;
$button-color: lighten($main-color, 5);


#content {

    h5 {
        color: #111111;
        font-size: 1.4rem;
        font-weight: 800;
    }

    select:hover {
        cursor: pointer;
    }

    #register-form{ 
        width: 50%;
        min-width: 350px;
        padding: 1rem 2.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        border: hidden;
        border-bottom: solid 1.5px #c4c4c4;
        border-radius: 0px;
        box-shadow: none;
    }
    
    .logo {
        background-color: $main-color;

        .fa {
            color: #fff;
            font-size: 2rem;

            &:hover{
                color: darken(#fff, 10);
            }   
        }
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #{$main-color};
    }

    #date-txt {
        font-size: 1.05rem;
        font-weight: 700;
        margin-left: 2%;
    }

    .form-check-input:hover {
        cursor: pointer;
    }

    a {
        color: $link-color;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            color: lighten($link-color, 8);
        }
    }

    .btn:focus {
        box-shadow: none;
    }

    #signup-button {
        display: block;
        width: 70%;
        background-color: $button-color;
        border: none;
        color: #ffffff;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 0.6em;
        border-radius: 4px;
        margin-top: 2rem;
        font-weight: bold;

        &:hover {
            color: #ffffff;
            background-color: lighten($button-color, 10);
        }
    }

}


