@import url("style_sass.scss");

$main-color: #D0011B;
$second-color: #FF9F00;
$third-color: #440000;
$mobile-size: 576px;
$button-color: lighten($main-color, 5);


#content {
    width: 50vw;
    padding: 1rem 2.5rem;
    margin-left: auto;
    margin-right: auto;

    h5 {
        color: #111111;
        font-size: 1.1em;
        font-weight: 800;
    }

    select:hover {
        cursor: pointer;
    }

    .form-control {
        border: hidden;
        border-bottom: solid 1.5px #c4c4c4;
        border-radius: 0px;
        box-shadow: none;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #{$main-color};
    }

    #date-txt {
        font-size: 1.05rem;
        font-weight: 700;
        margin-left: 2%;
    }

    .form-check-input:hover {
        cursor: pointer;
    }

    a {
        color: rgb(79, 79, 255);
        font-weight: bold;
    }

    .btn:focus {
        box-shadow: none;
    }

    #signup-button {
        display: block;
        width: 70%;
        background-color: $button-color;
        border: none;
        color: #ffffff;
        font-size: 1em;
        letter-spacing: 1px;
        padding: 0.6em;
        border-radius: 4px;
        margin-top: 2rem;
        font-weight: bold;

        &:hover {
            color: #ffffff;
            background-color: lighten($button-color, 10);
        }
    }
}
