$main-color: #d0011b;
$second-color: #FF9F00;
$third-color: #440000;
$mobile-size: 576px;
$button-color: lighten($main-color, 5);

html {
    height: 100%;
    min-height: 100%;

    @media (max-width: #{$mobile-size}) {
        .tooltip {
            display: none !important;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f1f1f1;
}

footer {
    padding: 0px;
    margin-top: auto;
    background-color: $main-color;

    a {
        text-decoration: none;
        color: #fff;

         &:hover {   
            text-decoration: none;
            color: darken(#fff, 10);
        }
    }
}

#footerlogo {
    padding: 1em;
    border-bottom: solid 1px #ffffff;
}

#navbar {
    background-color: $main-color;
    a {
        cursor: pointer;
    }
}

#navbarcollapse {
    @media(min-width: #{$mobile-size}) {
        margin-left: auto;
    }

    @media(max-width: #{$mobile-size}) {
        flex-direction: row;
        text-align: right;
    }
}

#navbar-collapsed {
    max-width: 220px;
}

#formSearch {
    @media(max-width: #{$mobile-size}) {
        width: 30vw;
    }

    border-radius: 20px;
    min-width: 100px;
    width: 10vw;    
    max-width: 250px;
    transition: 700ms;

   &:focus {
    box-shadow: none;
    width: 30vw;
    transition: 700ms;
   }
}

#formSearchButton {
    width: 25px;
    height: 25px;
    margin-left: -30px;
    padding: 1px 5px 15px 1px;
   &:focus {
    box-shadow: none;
   }
}


#login-button {
    text-align: center;
    font-weight: 700;
    line-height: 1rem;
    a {
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
        max-width: 3.5rem;
    }
    p{
        color: rgba(255, 255, 255, .5);
        cursor: default;
        font-weight: 600;
        padding: 0;
        margin: 0;
        font-size: 0.7rem;
    }
}

#cards-row {
    @media(max-width: #{$mobile-size}) {
        .card {
            margin-top: (1em/2);
            margin-bottom: (1em/2);
        }
    }
}

.card-btn {
        text-shadow: 1px 1px 2px #111111;
        color: #ffffff;
        box-shadow: 0.5px 0.5px 5px #111111;
        opacity: 1;
        font-weight: 400;
        border: none;

        &:hover {
            background-color: lighten(#007bff, 10);
        }
}

#content-jumbotron {
    color: white;
    cursor: default;

    @media (min-width: $mobile-size) {
        padding-left: 100px;
        padding-right: 100px;
    }

    .display-4 {
        text-shadow: 2px 2px 3px #111111;
        font-weight: 500;
        opacity: 0.8;
    }

    .lead {
        text-shadow: 2px 2px 1px #111111;
        font-size: 1.3em;
        font-weight: 400;
        opacity: 0.8;
    }

    .btn {
        background-color: $button-color;
        text-shadow: 1px 1px 2px #111111;
        color: #ffffff;
        box-shadow: 0.5px 0.5px 5px #111111;
        opacity: 1;
        margin-left: auto;
        font-weight: 600;

        &:hover {
            background-color: lighten($button-color, 10);
        }
    }

    .jumbotron {
        background-color: none;
    }

}

.jumbotron-with-background {
    background-image: url("../Images/designerimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popover-login {
    position: absolute;
    z-index: 99;
    right: 50%;
    transform: translate(50%);
    width: 330px;
    height: 470px;
    background: #fcfcfc;
    border-radius: 10px;

    h3 {
        color: #111111;
        margin-top: 55px;
        margin-bottom: 50px;
    }

    input {
        border: hidden;
        border-bottom: solid 1.5px #c4c4c4;
        border-radius: 0px;
        box-shadow: none;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #{$main-color};
    }

    button {
        background-color: $button-color;
        color: #ffffff;
        text-shadow: 1.2px 1.2px 2px #111111;
        font-size: 0.9em;
        padding: 10px;
        border-radius: 2px;
        margin-top: 30px;
        font-weight: bold;

    }

    .btn:hover {
        color: #ffffff;
        background-color: lighten($button-color, 5);
    }

    small {
        margin-top: 50px;

        a {
            color: blue;
        }
    }

    #eye-icon {
        font-size: 1.2rem;
        color: #929292;
        opacity: 0.6;
        position: absolute;
        top: 203px;
        right: 33px;
    }
}

#login-modal {
    .modal-content {
        border: none;
    }
}
